@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');

*{
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* NavBar */
.nav-bar{
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.nav-bar a{
  text-decoration: none;
  color: white;
}
.nav-bar h2{
  font-size: 40px;
}
.nav-bag{
  display: flex;
  align-items: center;
}
.bag-quantity{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background: yellow;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 5px;
}

/* Not Found */
.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68,68,68);
  min-height: 80vh;
}
.not-found h2{
  font-size: 55px; 
}
.not-found p{
  font-size: 20px;
}

/* Home */
.home-container{
  padding: 2rem 4rem;
}
.home-container h2{
  font-size: 40px;
  font-weight: 480;
  text-align: center;
}

.products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.product {
  width: 250px;
  max-width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 
              2px 2px 5px rgba(94, 104, 121, 0.3);
}
.product img{
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.product h3{
  font-size: 25px;
  font-weight: 400;
}
.product .details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .details .price{
  font-size: 20px;
  font-weight: 700;
}
.product button{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400s;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4b70e2;
  color: white;
  letter-spacing: 1.15px;
}